body {
  background-color: #ecf0f1;
  font: 400 1.25em/1.38 'Trebuchet MS';
  color: rgb(80, 80, 80);
}

.container {
  position: relative;
  float: left;
}

.container .element {
  width: 226px;
  height: 213px;
  background-size: cover;
  background-position: center center;
  background-color: rgb(222, 222, 222);
}

.container .text {
  clear: both;
  text-align: center;
}

.element {
  float: left;
}

.shopifyy {
  float: left;
  clear: both;
  width: 69.6666666666%;
  height: 437px;
  margin: 77px 0 0 15.16667%;
  background-color: rgba(222, 222, 222, 0);
  overflow: visible;
}

.text {
  position: relative;
  float: left;
}

.text-2 p {
  margin-bottom: 1em;
}

._container {
  height: 296px;
  margin-top: -201px;
}

.container-1 {
  z-index: 0;
  width: 100%;
  height: 635px;
  background-color: #2980b9;
}

.container-2 {
  z-index: 9;
  width: 18.8333333333%;
  margin-left: 16.83073%;
}

.container-3 {
  z-index: 13;
  width: 18.8346354166%;
  margin-left: 5.08073%;
}

.container-4 {
  z-index: 17;
  width: 18.8333333333%;
  margin-left: 4.75%;
}

.element-1 {
  position: relative;
  z-index: 3;
  width: 20.4166666666%;
  height: 252px;
  margin: -480px 0 0 63.59896%;
  background: url('../images/uf.gif') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  overflow: visible;
}

.element-2 {
  position: relative;
  z-index: 4;
  width: 69.5833333333%;
  height: 280px;
  margin: -129px 0 0 15.16667%;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  background-color: #ecf0f1;
  box-shadow: 0 -15px 20px rgba(0, 0, 0, .5);
}

.element-3 {
  margin-left: -0.01383%;
  border-radius: 163px;
  background-image: url('../images/BARTLETTcreativeLLC_SOE_ProjectX-ITE_PioSummerKickoff_TeamandHeadshots_014.jpg');
}

.element-4 {
  margin-left: -0.25579%;
  border-radius: 119px;
  background-image: url('../images/BARTLETTcreativeLLC_SOE_ProjectX-ITE_PioSummerKickoff_TeamandHeadshots_015.jpg');
}

.element-5 {
  margin-left: -0.01383%;
  border-radius: 172px;
  background-image: url('../images/15304111_10208366746031023_1795153740835878628_o(3).jpg');
}

.text-1 {
  clear: both;
  z-index: 1;
  width: 34%;
  min-height: 85px;
  margin: -583px 0 0 16%;
  font-size: 2.8em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.text-2 {
  z-index: 2;
  width: 40.8333333333%;
  min-height: 129px;
  margin: -390px 0 0 16%;
  font-size: 1em;
  color: rgb(80, 80, 80);
}

.text-3 {
  clear: both;
  z-index: 5;
  width: 39.2%;
  min-height: 29px;
  margin: -243px 0 0 16.79948%;
  font-size: 0.8em;
  font-weight: 700;
  color: rgb(91, 91, 91);
}

.text-4 {
  z-index: 7;
  width: 99.6543141592%;
  min-height: 46px;
  margin: 14px 0 0 -0.01383%;
  font-size: 1em;
  font-weight: 700;
  color: rgb(92, 92, 92);
}

.text-5 {
  z-index: 8;
  width: 99.6543141592%;
  min-height: 40px;
  margin: -17px 0 0 -0.01383%;
  font-size: 0.8em;
  color: rgb(78, 78, 78);
}

.text-6 {
  z-index: 12;
  width: 99.21530837%;
  min-height: 40px;
  margin: 43px 0 0 -0.2696200001%;
  font-size: 0.8em;
  color: rgb(78, 78, 78);
}

.text-7 {
  z-index: 11;
  width: 99.21530837%;
  min-height: 46px;
  margin: -69px 0 0 -0.16592%;
  font-size: 1em;
  font-weight: 700;
  color: rgb(92, 92, 92);
}

.text-8 {
  z-index: 15;
  width: 99.6543141592%;
  min-height: 46px;
  margin: 14px 0 0 -0.01383%;
  font-size: 1em;
  font-weight: 700;
  color: rgb(92, 92, 92);
}

.text-9 {
  z-index: 16;
  width: 99.6543141592%;
  min-height: 40px;
  margin-top: -17px;
  font-size: 0.8em;
  color: rgb(78, 78, 78);
}

@media(max-width: 996px) {
  .container {
    position: relative;
  }

  .container .element {
    width: 170px;
    height: 170px;
  }

  .shopifyy {
    clear: none;
    margin-top: 0;
    margin-left: 18.31859%;
  }

  .container .text,
  .text {
    position: relative;
  }

  .container .element-3 {
    margin-top: 30px;
    margin-left: 39.90888%;
  }

  .container .element-4 {
    margin-left: 9.85556%;
  }

  .container .element-5 {
    margin-top: 11px;
    margin-left: 40.87496%;
  }

  .container .text-4 {
    z-index: 7;
    width: 76.3157894736%;
    margin-top: 16px;
    margin-left: 21.46895%;
  }

  .container .text-5 {
    z-index: 8;
    width: 76.3157894736%;
    margin-left: 21.46895%;
  }

  .container .text-6 {
    z-index: 12;
    width: 86.4035087719%;
    margin-top: 38px;
    margin-left: -9.49886%;
  }

  .container .text-7 {
    z-index: 11;
    width: 86.4035087719%;
    margin-left: -9.49886%;
  }

  .container .text-8 {
    z-index: 15;
    width: 73.1092436974%;
    margin-top: 15px;
    margin-left: 26.8267%;
  }

  .container .text-9 {
    z-index: 16;
    width: 55.8893013837%;
    margin-top: -18px;
    margin-left: 36.57189%;
  }

  .container-1 {
    z-index: 0;
  }

  .container-2 {
    z-index: 9;
    width: 37.1875%;
    margin-top: -286px;
    margin-left: 3.58779%;
  }

  .container-3 {
    clear: both;
    z-index: 13;
    width: 35.625%;
    margin-top: -265px;
    margin-left: 39.80139%;
  }

  .container-4 {
    clear: both;
    z-index: 17;
    width: 37.1875%;
    margin-top: -312px;
    margin-left: 50.79851%;
  }

  .element-1 {
    visibility: hidden;
    position: relative;
    z-index: 3;
    margin-left: 63.59814%;
  }

  .element-2 {
    position: relative;
    z-index: 4;
    width: 69.53125%;
    height: 327px;
    margin-left: 15.16535%;
  }

  .text-1 {
    z-index: 1;
    width: 67.03125%;
    margin-left: 15.99994%;
  }

  .text-2 {
    z-index: 2;
    width: 67.8125%;
    margin-left: 15.99994%;
  }

  .text-3 {
    z-index: 5;
    margin-top: -300px;
    margin-left: 16.79531%;
  }
}

@media(max-width: 775px) {
  body {
    font-size: 1.25em;
  }

  .container {
    position: relative;
  }

  .container .text {
    position: relative;
  }

  .shopifyy {
    margin-top: 34px;
    margin-left: 15.16331%;
  }

  .text {
    position: relative;
  }

  .container .element-3 {
    margin-left: 3.76496%;
  }

  .container .element-4 {
    margin-top: 38px;
    margin-left: 4.22191%;
  }

  .container .element-5 {
    margin-top: 39px;
    margin-left: -0.59172%;
  }

  .container .text-4 {
    z-index: 7;
    width: 59.0425531914%;
    margin-top: 10px;
    margin-left: 17.19747%;
  }

  .container .text-5 {
    z-index: 8;
    width: 77.659574468%;
    margin-left: 6.55086%;
  }

  .container .text-6 {
    z-index: 12;
    margin-top: 29px;
    margin-left: 4.22191%;
  }

  .container .text-7 {
    z-index: 11;
    margin-left: 4.22191%;
  }

  .container .text-8 {
    z-index: 15;
    width: 100%;
    margin-top: 0;
    margin-left: -0.59172%;
  }

  .container .text-9 {
    z-index: 16;
    width: 100%;
    margin-top: -17px;
    margin-left: 0;
  }

  .container-1 {
    z-index: 0;
  }

  .container-2 {
    z-index: 9;
    width: 24.2580645161%;
    margin-top: -271px;
    margin-left: 16.77218%;
  }

  .container-3 {
    z-index: 13;
    width: 25.5483870967%;
    margin-top: -296px;
    margin-left: 38.85081%;
  }

  .container-4 {
    clear: none;
    z-index: 17;
    width: 21.8064516129%;
    margin-top: -296px;
    margin-left: 62.70968%;
  }

  .element-1 {
    position: relative;
    z-index: 3;
    width: 23.3548387096%;
    margin-left: 60.64516%;
  }

  .element-2 {
    position: relative;
    z-index: 4;
    margin-left: 15.16331%;
  }

  .text-1 {
    z-index: 1;
    margin-left: 15.99597%;
  }

  .text-2 {
    z-index: 2;
    margin-left: 15.99597%;
  }

  .text-3 {
    z-index: 5;
    margin-left: 16.79234%;
  }
}

@media(max-width: 465px) {
  .container {
    position: relative;
  }

  .container .text {
    position: relative;
  }

  .shopifyy {
    position: relative;
    clear: both;
    z-index: 18;
    margin-top: -88px;
    margin-left: 15.16129%;
  }

  .text {
    position: relative;
  }

  .container .element-3 {
    margin-left: 39.88087%;
  }

  .container .element-4 {
    position: relative;
    z-index: 10;
    margin-top: 0;
    margin-left: 9.82507%;
  }

  .container .element-5 {
    position: relative;
    z-index: 14;
    margin-top: 9px;
    margin-left: 44.0672%;
  }

  .container .text-4 {
    z-index: 7;
    margin-top: -110px;
    margin-left: -43.55174%;
  }

  .container .text-5 {
    z-index: 8;
    margin-top: -81px;
    margin-left: -43.55174%;
  }

  .container .text-6 {
    z-index: 12;
    margin-top: -75px;
    margin-left: 116.7697%;
  }

  .container .text-7 {
    z-index: 11;
    margin-top: -102px;
    margin-left: 114.50743%;
  }

  .container .text-8 {
    z-index: 15;
    margin-top: -124px;
    margin-left: -44.74154%;
  }

  .container .text-9 {
    z-index: 16;
    width: 82.7067669172%;
    margin-top: -95px;
    margin-left: -34.51598%;
  }

  .container-1 {
    z-index: 0;
  }

  .container-2 {
    z-index: 9;
    margin-top: -311px;
    margin-left: 31.73723%;
  }

  .container-3 {
    clear: none;
    z-index: 13;
    width: 33.3333333333%;
    margin-top: -125px;
    margin-left: 15.91398%;
  }

  .container-4 {
    clear: both;
    z-index: 17;
    width: 28.6021505376%;
    margin-top: -134px;
    margin-left: 28.8%;
  }

  .element-1 {
    position: relative;
    z-index: 3;
    margin-left: 63.59543%;
  }

  .element-2 {
    position: relative;
    z-index: 4;
    margin-left: 15.16129%;
  }

  .text-1 {
    z-index: 1;
    margin-left: 15.94758%;
  }

  .text-2 {
    z-index: 2;
    margin-top: -421px;
    margin-left: 15.94758%;
  }

  .text-3 {
    z-index: 5;
    margin-top: -304px;
    margin-left: 16.82796%;
  }
}